{% extends 'blog/base.html' %}
{% load blog.app %}

{% block title %}{% title post.title %}{% endblock %}

{% block content %}

	<article>		
		<header id="post-header">
			<h1 class="post-title">{{ post.title }}</h1>
			{% if not post.published_at %}
				<i class="fa fa-lock" aria-hidden="true"></i>
			{% endif %}
			<time>{{ post.created_at|date:"Y年m月j日" }}</time>
			<span class="break">|</span>
			{% for tag in post.tags.all %}
				<span class="tag">{{ tag }}</span>
			{% endfor %}
			
		</header>
		<div id="post" class="main-grid-contents">
			<aside id="side">
				<nav id="toc">
					<p id="tocTitle">目次</p>
				</nav>
			</aside>
			<section id="post-content" class="content">
				{{ post.content | markdown_to_html }}
			</section>
			
			{% if post.relation_posts.all %}
			<section id="relation">
				<h2 class="section-title">関連記事</h2>
				{% for r_post in post.relation_posts.all %}
				<article class="post">			
					<a href="{% url 'blog:post_detail' pk=r_post.pk %}" class="post-link">
						<h2 class="title">
							{% if not r_post.published_at %}
								<i class="fa fa-lock" aria-hidden="true"></i>
							{% endif %}
							{{ r_post.title }}
						</h2>
						<p class="description">{{ r_post.description }}</p>
						{% for tag in r_post.tags.all %} 
						<span class="tag">{{ tag }}</span>
						{% endfor %}
					</a>
				</article>
				{% endfor %}
			</section>
			{% endif %}
			
			<section id="comments">
				<h2 class="section-title">コメント一覧</h2>
				{% for comment in post.comments.all %}
					<div class="comment">
						<p>
							<time>{{ comment.created_at|date:"Y年m月j日" }}</time>
							<span class="break">|</span>
							<span>{{ comment.name }}</span>
							{% if not comment.is_approve %}<i class="fa fa-check-circle" aria-hidden="true" style="color:red;"></i>{% endif %}
						</p>
						<div class="content">
							{{ comment.text | markdown_to_html_with_escape }}
						</div>

						{% for reply in comment.replies.all %}
							<div class="comment is_reply">
								<p>
									<time>{{ reply.created_at|date:"Y年m月j日" }}</time>
									<span class="break">|</span>
									<span>{{ reply.name }}</span>
									{% if not reply.is_approve %}<i class="fa fa-check-circle" aria-hidden="true" style="color:red;"></i>{% endif %}
								</p>
								<div class="content">
									{{ reply.text | markdown_to_html }}
								</div>
							</div>
						{% endfor %}
							<p class="do-reply show-modal" data-target="reply_{{ comment.pk }}">
								返信する
							</p>
						{% include 'blog/comment_create.html' with id="reply_"|addstr:comment.pk form=reply_form target=comment url_reverse='blog:add_reply' %}
					</div>
				{% endfor %}
				<p class="do-comment show-modal" data-target="comment_{{ post.pk }}">新しくコメントする</p>
				
			{% include 'blog/comment_create.html' with id="comment_"|addstr:post.pk form=comment_form target=post url_reverse='blog:add_comment' %}
				
			</section>
			
		</div>
	</article>
	
	
	<!-- highlight.js関連の読み込み -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs2015.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
	<script>
		
		   // 記事内の目次要素
			const toc = document.querySelector('#post-content div.toc');
			
			// 目次を複製する
			const copyToc = toc.cloneNode(true);
			
			// 複製した目次を、別の場所に張り付ける。サイドバーに<nav id="toc">がある例
			document.querySelector('nav#toc').appendChild(copyToc);
			
			// 記事内の目次を削除する
			document.querySelector('#post-content').removeChild(toc);
			hljs.initHighlightingOnLoad();
			
			const elements = document.getElementsByClassName('markdownx');

			for (element of elements) {
			    element.addEventListener('markdownx.update', event => {
			        for (const block of document.querySelectorAll('pre code')) {
			            hljs.highlightBlock(block);
			        }
			    });
			}
			
			links = document.querySelectorAll('.content > [id]');
			
			const focus = (e) => {
			    const sy = window.pageYOffset;
			    const borderY = sy + 40;
			    let focusID = null;
			    links.forEach( (el) => {
			        const targetEl = el;
			        const tocEl = document.querySelector(`[href='#${el.id}']`)
			        const y = sy + targetEl.getBoundingClientRect().top ;
			        tocEl.classList.remove("active");
			        if(borderY > y) focusID = el.id;
			    });
			    if(focusID)document.querySelector(`[href='#${focusID}']`).classList.add("active");
			};
			focus();
			window.addEventListener("scroll", focus);
		
		
	</script>
{% endblock  %}